<div style="text-align:center">
    <h1>
      Ashish Sabalpara
    </h1>
  <br/>
  <img src="assets/img/myphoto.JPG" width="200px" height="200px">
    
  <p>
      My name is Ashish Sabalpara and I did Bachelor of Engineering in Information Technology from Sardar Vallabhbhai Patel Institute of Technology in India.
       Now, I am perusing Advanced Diploma in Software Engineering Technology from Centennial College.
       I am also certified in Diploma in C&C++ Programming & Core JAVA from Red & White Multimedia Education.
  </p>
  <h2>
  <a href="https://drive.google.com/open?id=1z58Uce0MdLRU0Jadulm1eogsFsguEk2L" target="_blank" >Resume</a>
  </h2>
</div>