<div style="text-align:center">
    <h1>
        AMC (Annual Maintenance  Contract)
    </h1>
  <p>During bachelor degree in Information Technology, We developed a website AMC (Annual Maintenance  Contract)  as final year project.</p>
  <br/>
  <img src="assets/img/prj1.jpg" width="400px" height="200px">
  <h1>
      Online Parking
  </h1>
  <p>
      We developed a project in subject of Software Development Project-1 in which we created Online Parking website using PHP, HTML, MyPhp, CSS.
  </p>
  <br/>
  <img src="assets/img/prj.2.jpg" width="400px" height="200px">
  <h1>
      Services@Home
  </h1>
  <p>
      We are developing a project in subject of Software Development Project-2 in which we are creating a website in which we are providing service like painting, plumbing etc. to users at home.
  </p>
  </div>